<?xml version="1.0"?>
<!--
/**
 * Module configuration
 *
 * @author DotCom River
 */
-->
<config>
    <modules>
        <DotcomRiver_BidGit>
            <version>1.1.1</version>
        </DotcomRiver_BidGit>
    </modules>
    <global>
        <models>
            <dotcomriver_bidgit>
                <class>DotcomRiver_BidGit_Model</class>
                <resourceModel>bidgit_resource</resourceModel>
            </dotcomriver_bidgit>
            <bidgit_resource>
                <class>DotcomRiver_BidGit_Model_Resource</class>
                <entities>
                    <adCampaign>
                        <table>dotcomriver_bidgit_ad_campaign</table>
                    </adCampaign>
                    <adGroup>
                        <table>dotcomriver_bidgit_ad_group</table>
                    </adGroup>
                    <adKeyword>
                        <table>dotcomriver_bidgit_ad_keyword</table>
                    </adKeyword>
                    <adKeywordInputData>
                        <table>dotcomriver_bidgit_ad_keyword_input_data</table>
                    </adKeywordInputData>
                    <adKeywordSchema>
                        <table>dotcomriver_bidgit_ad_keyword_schema</table>
                    </adKeywordSchema>
                    <adText>
                        <table>dotcomriver_bidgit_ad_text</table>
                    </adText>
                    <adTextSchema>
                        <table>dotcomriver_bidgit_ad_text_schema</table>
                    </adTextSchema>
                    <bgCampaign>
                        <table>dotcomriver_bidgit_bg_campaign</table>
                    </bgCampaign>
                    <bgCampaignAdKeywordSchema>
                        <table>dotcomriver_bidgit_bg_campaign_ad_keyword_schema</table>
                    </bgCampaignAdKeywordSchema>
                    <bgCampaignAdTextSchema>
                        <table>dotcomriver_bidgit_bg_campaign_ad_text_schema</table>
                    </bgCampaignAdTextSchema>
                    <bgCampaignInputData>
                        <table>dotcomriver_bidgit_bg_campaign_input_data</table>
                    </bgCampaignInputData>
                    <inputData>
                        <table>dotcomriver_bidgit_input_data</table>
                    </inputData>
                    <criterion>
                        <table>dotcomriver_bidgit_criterion</table>
                    </criterion>
                    <operationsReport>
                        <table>dotcomriver_bidgit_operations_report</table>
                    </operationsReport>
                    <placeholder>
                        <table>dotcomriver_bidgit_placeholder</table>
                    </placeholder>
                    <synchronizationInfo>
                        <table>dotcomriver_bidgit_synchronization_info</table>
                    </synchronizationInfo>
                </entities>
            </bidgit_resource>
        </models>
        <helpers>
            <dotcomriver_bidgit>
                <class>DotcomRiver_BidGit_Helper</class>
            </dotcomriver_bidgit>
        </helpers>
        <blocks>
            <dotcomriver_bidgit>
                <class>DotcomRiver_BidGit_Block</class>
            </dotcomriver_bidgit>
        </blocks>
        <resources>
            <dotcomriver_bidgit_setup>
                <setup>
                    <module>DotcomRiver_BidGit</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </dotcomriver_bidgit_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <DotcomRiver_BidGit before="Mage_Adminhtml">DotcomRiver_BidGit_Adminhtml</DotcomRiver_BidGit>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <dotcomriver_bidgit>
                    <file>dotcomriver_bidgit.xml</file>
                </dotcomriver_bidgit>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <bidgit>
            <adwords>
                <user_agent>BidGit</user_agent>
            </adwords>
            <keywords>
                <duplicate_search>0</duplicate_search>
            </keywords>
        </bidgit>
    </default>
</config>
